.foundIn {
    color: black;
    letter-spacing: 2px;
    grid-area: foundIn;
    background-color: rgba(0, 0, 0, 0.308);
    color: black;
    opacity: 0;
    transform: translateX(-60px);
  }
  
  .foundIn div {    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    padding: 2%;
  }
  
  .foundIn p {
    width: 150px;
    font-size: 20px;
  }
  
  .foundIn h1 {
    width: 100%;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;  
  }

  @media screen and (max-width: 600px) {
    .foundIn {
      width: 80%;
      color: white;
    }
    
    .foundIn div {  
      background-size: 0;
      width: 100%;
      height: 300px;
    }
    
    .foundIn p {
      width: 100%;
      font-size: 30px;
    }
    
    .foundIn h1 {  
      font-size: 80px;
      height: 80%;
      letter-spacing: 10px;
    }
  }
  