@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap');

:root {
  --color-1: #0669b5;
  --color-2: #9cff1a;
  --font-family: 'Catamaran', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--font-family);
}
